p
{
    color: blue;
}

.header-background
{
    background-color: black;
    color: white;
    text-decoration: underline;
}
#bigger-font
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}